body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    height: 500px;
    width: 350px;
    border: solid red 2px;
    flex-direction: column;
}

.display{
    border: solid pink 2px;
}

.buttons{
    display: flex;
}